.element{
    color:  #141718;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Space Grotesk", serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
}

.elegant{
    color: #000;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Poppins", serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
}