.cart{
    color: #000;
font-feature-settings: 'liga' off, 'clig' off;
text-align: center;
font-family: Poppins;
font-size: 54px;
font-style: normal;
font-weight: 500;
line-height: 58px; /* 107.407% */
margin-bottom: 30px;
letter-spacing: -1px;
}